---
layout: page-alt
title: Blog
subtitle: 
categories: ["blog"]

---

    <!-- Post Section -->
    
    <section class="post"> 
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% comment %} for post in site.categories.blog {% endcomment %} 
                    {% for post in site.posts %}
                      <article class="post">
                          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                            <h1 class="post-title">{{ post.title }}</h1>
                          </a>
                          <p class="post-meta">
                              {{ post.date | date: "%b %-d, %Y" }}
                              {% if post.author %} <span class="post-meta-sep"> / </span> {{ post.author }}{% endif %}
                              {% if post.meta %} <span class="post-meta-sep"> / </span> {{ post.meta }}{% endif %}</p>
                          <div class="post-entry">
                              {{ post.excerpt }}
                          </div>
                          <div class="text-left"><a href="{{ post.url }}">Continue reading</a></div>
                      </article>
                      <hr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
