 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <p>
Hello, I'm Zoltán, an IT Engineer from Hungary.<br>
I freelance as an IT Consultant, System Administrator and Web Developer.<br>
I create small business email, storage, backup, disaster recovery and network security solutions.<br>
I'm working with virtual and physical Linux and Windows servers, and with network devices.<br>
                    </p>
                </div>
                <div class="col-lg-5">
                    <p>
In addition, I'm a seasonal web developer, building websites and e-commerce solutions. I have a background in full-stack web development.<br>
I'm a virtualization and cloud technology enthusiast, I love to learn new technologies and to play with cutting edge tools.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>A full copy of my resume is available on request. Let me know you’d like one.</p>
                    <a href="#contact" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i> Contact me
                    </a>
                </div>
            </div>
        </div>
    </section>